h2 {
  text-align: center;
  padding: 4rem 0 0 0 0;
}
h1,
.price {
  text-align: center;
}

.price {
  font-size: 50px !important;
  color: #fff;
  font-weight: bold;
}

h4 {
  text-align: center;
  padding: 0 0 4rem 0;
}

.card {
  padding: 2rem 0;
  text-align: center;
  align-items: center;
  transition-duration: 0.3s;
}

.card:hover {
  box-shadow: 0px 5px 12px 0 #001b30;
}

.stats {
  margin: 3rem 0;
  padding: 4rem 0;
  background-color: #043d9e;
}

.stats-item {
  text-align: center;
}

table {
  text-align: center;
}

td {
  padding: 1rem 0;
  border: 1px solid black;
}

.about {
  padding: 2rem 4rem;
  margin: 4rem 0;
}

.pricing {
  padding: 2rem 4rem;
  margin: 4rem 0;
  background-color: #043d9e;
}

.contact-item {
  text-align: center;
  margin: 2rem 0;
}

.social-media {
  display: flex;
  background-color: #272727;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.social-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.about-card {
  min-height: 350px;
}

img.card-img-top {
  width: 60%;
}
